/* ==========================================================================
    VARIABLES
   ========================================================================== */
$black: #282828;
$yellow: #FCCD05;
$pink: #FFB38F;
$blue:#17E9E0;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');

$serif_font: 'Lora',
serif;
$sans_font: 'Open Sans',
sans-serif;
;
$helvetica: 'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

$border1: 5px solid;
$border2: 5px dashed;

$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900;

@mixin nav_bar {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 1.5rem 0 1.5rem 0;

    .imagotype {
        width: 100%;
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
        align-items: center;

        .isotype {
            background-color: $black;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            margin: 0 0 0 2rem;
        }

        .logotype {
            font-size: 1.7rem;
            font-weight: $extra-bold;
            font-family: $helvetica;
            color: $black;
            padding: 0 20rem 0 .7rem;

        }
    }

    .menu_icon {
        .close {
            display: none;
        }

        .show {
            padding: 2% 0 0 0;
            display: none;
            position: absolute;
            top: 26.5%;
            right: 6.5%;
        }
    }

    .menu {
        width: 55%;
        font-weight: $semi-bold;
        margin: 0 3rem 0 0;

        ul {
            display: flex;
            flex-flow: wrap row;
            justify-content: space-between;
            font-size: 1.2rem;
        }
    }
}

/* ==========================================================================
    GENERAL
   ========================================================================== */

* {
    //border: .2px solid pink;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::selection {
        background-color: lighten($color: $blue, $amount: 20);
    }

}

body,
html {
    color: black;
    font-size: 12px;
    font-family: $sans_font;
    margin: 0 auto;
    scroll-behavior: smooth;
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

header {
    background-color: white;
    @include nav_bar;
    z-index: 200;

    li {
        &.li-selected {
            a {
                border-bottom: $border1 $yellow;
                &:hover {
                    border-bottom: $border1 $yellow;
                }
            }

            
        }

        a {
            transition: 15ms;
            &:hover {
                border-bottom: $border2 $black;
            }
            &:active {
                border-bottom: $border1 $black;
            }
        }
    }

}

.spinner {
    display: flex;
    min-height: calc(100vh - 275px);
    justify-content: center;
    align-items: center;
}
.nav_bar {
    position: fixed;
    top: 0;
    left: 0;
}

.box-shadow {
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    background-color: $blue;
}

footer {
    padding: 2.5rem;
    font-size: 1.1rem;

    ul {
        justify-content: center;
        display: flex;
        flex-flow: row wrap;

        li {
            margin: 0 1.3rem 0 0;
        }
    }
}

.lang_en {
    font-weight: $extra-bold;
}

/*---- Scroll Bar ----*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lighten($color: $black, $amount: 10);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* ==========================================================================
   HOME
   ========================================================================== */

.home_page {
    .border_nav_bar {
        border-bottom: solid 1.5px lighten($color: $black, $amount: 80);
        transition: none;
    }

}

.home {
    margin: 0 8rem 0 17rem;
    a {
        &:hover {
            color: inherit;
        }
    }

    h1 {
        font-family: $serif_font;
        font-weight: $bold;
        color: $black;
        font-size: 4rem;
        margin: 0;
    }
    h2 {
        font-family: $serif_font;
        color: $black;
        font-size: 2rem;
        margin: 0;
    }

    .head {
        display: flex;
        flex-grow: revert;
        justify-content: space-evenly;
        border-bottom: solid 1.5px lighten($color: $black, $amount: 7);
        padding: 6rem 2rem 6rem 5rem;

        .group_logo{
            display: inline-block;
            width: 20%;
            object-fit: contain;
            object-position: left;
            text-align: center;
            vertical-align: middle;
            position: relative;
            img{
                width: 100%;
                size: auto;
            }
            .group_name {
                font-family: $helvetica;
                font-weight: bold;
                font-size: 3rem;
                color: white;
                line-height: 3.35em;
            }
        }
        .group_description{
            width: 70%;
        }
    }
    .body{
        padding-top: 4rem;
        display: flex;
        width: 100%;
        .carousel {
            display: inline-block;
            width: 95%;
            align-items: center;
            img {
                width: 100%;
                object-fit: cover;
            }

            h3 {
                font-family: $helvetica;
                font-weight: bold;
                font-size: 3rem;
                color: white;
                text-shadow: 2px 2px $black;
            }
            p {
                font-family: $helvetica;
                color: white;
                font-weight: bold;
                font-size: 1.5rem;
                text-shadow: 2px 2px $black;
            }
        }
        .latest_publications{
            width: 30%;
            object-fit: cover;
            padding: 10px;
            h3 {
                padding-top: 4%;
                padding-bottom: 4%;
                font-family: $serif_font;
                font-weight: bold;
                font-size: 2.1rem;
                text-align: center;
                color: black;
            }
            p{
                font-size: 1.2rem;
                text-align: left;
                color: white;
                padding: 2% 2% 2% 2%;
            }
            .more{
                font-size: 1.2rem;
                font-family: $serif_font;
                font-weight: bold;
                color: $yellow;
                text-align: left;
                padding: 2% 2% 2% 2%;
            }
        }
    }

}

.background {
    .circle {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background-color: $pink;
        position: absolute;
        top: 60%;
        left: 75%;
    }

    .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 120.5px 188.9px 98.5px;
        border-color: transparent transparent #FCCD05 transparent;
        position: absolute;
        top: -18%;
        left: -4%;
        transform: rotate(85deg);
    }

    .rectangle {
        width: 20rem;
        height: 6rem;
        background-color: #17E9E0;
        position: absolute;
        top: 120%;
        left: 20%;
        transform: rotate(-40deg);
    }
}


/* PARALAX */
.parallax {
    perspective: 2px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax__layer {
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
}

.parallax__layer--back {
    transform: translateZ(-1px);
    z-index: -1;
}


/* ==========================================================================
   PROJECTS
   ========================================================================== */

.projects {
    color: white;
    background-color: $black;
    padding: 5rem 0 0 0;
    .spinner {
        min-height: calc(100vh - 150px);
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
    }
    .nav_bar {
        background-color: inherit;
        color: inherit;
        .imagotype {

            .isotype {
                background-color: white;
            }

            .logotype {
                color: white;
                font-weight: $bold;
                text-decoration: none;

            }
        }

        li {
            &.li-selected {
               a {
                border-bottom: $border1 $pink;
                &:hover {
                    border-bottom: $border1 $pink;
                }
               } 

                
            }

            a {
                &:hover {
                    border-bottom: $border2 white;
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }

    main {
        .our_projects {
            .project {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                border-bottom: solid 1.5px lighten($color: $black, $amount: 7);
                padding: 6rem 2rem 6rem 5rem;

                .project_logo {
                    width: 10%;
                    margin: .8rem 0 0 0;
                    filter: brightness(0) invert(1);
                    -webkit-filter: brightness(0) invert(1);
                    img {
                        object-fit: contain;
                        object-position: top;
                        width: 100%;
                        height: 100%;
                    }
                }

                .project_main {
                    width: 70%;
                    h2{
                        font-weight: bold;
                    }
                    a{
                        color: inherit;
                        &:hover {

                            h2,
                            h3 {
                                color: $pink;
                                transition: .5s;
                            }
                        }
                    }

                }

                &:last-child {
                    // border: none;
                }
            }

        }

    }

    .border_nav_bar {
        border-bottom: solid 1.5px lighten($color: $black, $amount: 7);
        transition: none;
    }

    /*---- Scroll Bar ----*/
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $pink;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}


/* ==========================================================================
   TOOLS
   ========================================================================== */

.tools {
    color: white;
    background-color: $black;
    padding: 5rem 0 0 0;
    .spinner {
        min-height: calc(100vh - 150px);
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
    }
    .nav_bar {
        background-color: inherit;
        color: inherit;
        .imagotype {

            .isotype {
                background-color: white;
            }

            .logotype {
                color: white;
                font-weight: $bold;
                text-decoration: none;

            }
        }

        li {
            &.li-selected {
                a {
                    border-bottom: $border1 $pink;
                    &:hover {
                        border-bottom: $border1 $pink;
                    }
                }


            }

            a {
                &:hover {
                    border-bottom: $border2 white;
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }

    main {
        .our_tools {
            .tool {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                border-bottom: solid 1.5px lighten($color: $black, $amount: 7);
                padding: 6rem 2rem 6rem 5rem;

                .tool_logo {
                    width: 10%;
                    margin: .8rem 0 0 0;
                    filter: brightness(0) invert(1);
                    -webkit-filter: brightness(0) invert(1);
                    img {
                        object-fit: contain;
                        object-position: top;
                        width: 100%;
                        height: 100%;
                    }
                }

                .tool_main {
                    width: 70%;
                    h2{
                        font-weight: bold;
                    }
                    a{
                        color: inherit;
                        &:hover {

                            h2,
                            h3 {
                                color: $blue;
                                transition: .5s;
                            }
                        }
                    }

                }

                &:last-child {
                    // border: none;
                }
            }

        }

    }

    .border_nav_bar {
        border-bottom: solid 1.5px lighten($color: $black, $amount: 7);
        transition: none;
    }

    /*---- Scroll Bar ----*/
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $pink;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}



/* ==========================================================================
   RESEARCH
   ========================================================================== */

.research {
    color: $black;
    background-color: $pink;
    padding: 5rem 0 0 0;

    .nav_bar {
        background-color: $pink;
        color: $black;

        .imagotype {

            .isotype {
                background-color: $black;
            }

            .logotype {
                color: $black;
                font-weight: $black;
            }
        }

        li {
            &.li-selected {
                a {
                    border-bottom: $border1 white;

                    &:hover {
                        border-bottom: $border1 white;
                    }
                }
            }

            a {

                &:hover {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }


    main {
        min-height: calc(100vh - 150px);
        .research {
           
            .filters {
                text-align: right;
                padding: 1rem 5rem 1rem 5rem;
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                label, select, input {
                    padding: 5px;
                    font-family: "Open Sans", sans-serif;
                    font-size: 1.3rem;
                    margin-right: 1rem;
                }
                select, input {
                    border: 1px solid black;
                    margin-right: 3rem;

                }
                label {
                    font-weight: bolder;
                }
                option {
                    text-align: right;
                }
                .filter {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: flex-start;
                    margin-bottom: 10px;
                    input, select {
                        background-color: $pink;
                        outline: none;
                        height: 40px;
                        line-height: 40px;

                    }

                }
            }
            .paper {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                border-bottom: solid 1.5px lighten($color: $pink, $amount: 7);
                padding: 6rem 2rem 6rem 5rem;

                .paper_date {
                    width: 10%;
                    margin: .8rem 0 0 0;

                    img {
                        object-fit: contain;
                        object-position: top;
                        width: 100%;
                        height: 100%;
                    }
                }

                .paper_main {
                    width: 70%;
                    .paper_title {
                      h2 {
                          text-overflow: ellipsis;
                          overflow: hidden;
                          font-size: 2.2rem;
                          font-weight: normal;
                      }
                    }
                    .paper_authors {
                        margin: 1.5rem 0 0 0;
                    }

                    a {
                        color: $black;
                        &:hover {
                        }
                    }
                }

                &:last-child {
                    // border: none;
                }
            }

        }

    }

    .border_nav_bar {
        border-bottom: solid 1.5px lighten($color: $pink, $amount: 7);
        transition: none;
    }

}


/* ==========================================================================
   TEAM
   ========================================================================== */

@mixin grayscale_element($value) {
    -webkit-filter: #{"grayscale(#{$value})"};
-moz-filter: #{"grayscale(#{$value})"};
filter:#{"grayscale(#{$value})"};

}

.grayscale {
    @include grayscale_element(100%);
    transition: all 300ms ease-in-out;
    //mix-blend-mode: hard-light;

    /*&:hover {
        @include grayscale_element(0);
        mix-blend-mode: normal;
        transition: all 300ms ease-in-out;
    }*/
}


.team {
    color: $black;
    background-color: lighten($color: $blue, $amount: 30);
    padding: 5rem 0 0 0;

    .spinner {
        min-height: calc(100vh - 150px);
    }
    .nav_bar {
        background-color: inherit;
        color: $black;

        .imagotype {

            .isotype {
                background-color: $black;
            }

            .logotype {
                color: $black;
                font-weight: $black;
            }
        }

        li {
            &.li-selected {
                
                a {
                    border-bottom: $border1 white;

                    &:hover {
                        border-bottom: $border1 white;
                    }
                }
            }

            a {
                &:hover {
                    color: inherit;
                }
            }
        }
    }

    main {
        .teammates {
            padding-top: 4rem;
            .teamgrouptitle {
                display: flex;
                flex-flow: row wrap;
                justify-content: left;
                padding: 3rem 5rem 1rem 5rem;
                h2 {
                    margin-left: 80px;
                }
            }
            .teammate {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                border-bottom: solid 1.5px lighten($color: $blue, $amount: 40);
                padding: 5rem 1rem 5rem 1rem;
                width: 100%;

                h3{
                    font-size: 3rem;
                    font-weight: 800;
                }
                .mate_img {
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;

                    img {
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    /* &:hover {
                        border: $black solid 5px;
                    }*/
                }

                .mate_info {
                    width: 70%;

                    a:hover {

                        h2,
                        h3 {
                            transition: 1s ease-in-out;
                        }
                    }
                }

                &:last-child {
                    // border: none;
                }
                .at {
                    width: 1em;
                    padding: 1px;
                    margin-right: 3px;
                }
            }

        }

    }

    .border_nav_bar {
        border-bottom: solid 1.5px lighten($color: $blue, $amount: 40);
        transition: none;
    }

}



/* ==========================================================================
   ABOUT
   ========================================================================== */

.about {
    main {
        max-width: 1000px;
        margin: auto;
        margin-top: 100px;
        .about_description {
            border-bottom: solid 1.5px lighten($color: $black, $amount: 60);
            padding: 9rem 3rem 6rem 7rem;

        }

        .location {
            // padding: 4rem 3rem 6rem 7rem;
            //background-color: lighten($color: $yellow, $amount: 25);
            display: flex;
            flex-flow: row no-wrap;
            justify-content: space-evenly;
            padding-bottom: 2rem;
            .col1 {
                flex: 1;
                padding: 1rem 4rem;
                .location_map {
                    height: 500px;
                    width: 700px;
                    background-color: $yellow;

                }

                .map-responsive {
                    overflow: hidden;
                    padding: 36.25%;
                    position: relative;
                    height: 100%;
                    width: 100%;
                }

                .map-responsive iframe {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            }

            .col2 {
                flex: 1;

                .location_info {
                    h2 {
                        padding: 1rem 0 .5rem 0;
                    }
                }

                .contact {
                    h2 {
                        padding: 1rem 0 .5rem 0;
                    }
                }
            }
        }

        section {
            &:last-child {
                border-bottom: solid 1.5px lighten($color: $black, $amount: 60);
            }
        }
    }

    h1 {
        font-size: 4rem;
        font-weight: $regular;
    }

    h2 {
        color: $black;
        font-size: 2rem;
        width: 100%;
        padding: 1rem 0 .5rem 2rem;
    }

    h3 {
        color: $black;
        font-size: 2rem;

    }
    p {
        font-size: 1.5rem;
    }

    .border_nav_bar {
        border-bottom: solid 1.5px lighten($color: $black, $amount: 60);
        transition: none;
    }

}

/* =========================================================================
TYPOGRAPHY
   ========================================================================== */

a {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }
}

p {
    font-size: 2rem;

}

h1 {
    font-family: $serif_font;
    font-weight: $bold;
    color: $black;
    font-size: 8rem;
    margin: 0;
}

h2 {
    font-family: $serif_font;
    font-weight: $bold;
    font-size: 4rem;
    margin: 0;

    /* &::selection {
        background-color: red;
    }*/
}

h3 {
    font-family: $serif_font;
    font-weight: $regular;
    font-size: 2rem;
    margin: 0;
}

h4 {
    font-family: $serif_font;
    font-weight: $semi-bold;
    font-size: 1.7rem;
    margin: 0;
}

ul {
    list-style: none;
}


/* =========================================================================
RESPONSIVE
   ========================================================================== */

@media(max-width: 940px) {

    header {
        padding: 1.5rem 0 1.6rem 0;

        .menu {
            width: 100%;
            font-weight: $semi-bold;
            margin: 0;
            padding: 2rem 3rem 0 3rem;

            ul {
                display: flex;
                flex-flow: wrap row;
                justify-content: space-between;
                font-size: 1.2rem;
            }
        }
    }
    .home {
        margin: 0 4rem 0 4rem;
        .body {
            display: flex;
            flex-flow: column;
            align-items: center;
            .carousel{
                align-self: center;
                margin-left: 13px;
            }
            .latest_publications{
                width: 90.2%;
                align-self: center;
            }
        }
    }

}

@media(max-width: 800px) {
    .home {
        margin: 0 4rem 0 5rem;
        .group_logo{
            width: 20%;
            height: 10%;
            border-radius: 50%;
        }

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.5rem;
        }
      .body{
        display: block;
        width: 100%;
        .carousel {
            width: 100%;
            margin-left: 0px;
        }
        .latest_publications {
          width: 100%;
        }
      }
    }

    .projects {
        main {
            .our_projects {
                padding: 3.5rem 0 0 0;
                .project {
                    padding: 3rem 1rem 3rem 3rem;

                    h2 {
                        font-size: 3rem;
                    }

                    h3 {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .tools {
        main {
            .our_tools {
                padding: 3.5rem 0 0 0;
                .tool {
                    padding: 3rem 1rem 3rem 3rem;
                    .tool_title {
                        h2 {
                            font-size: 2rem;
                        }
                    }
                    .tool_content {
                        h3 {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    .team {

        .teammates {
            padding-top: 5rem;
            .teamgrouptitle {
                padding: 2rem 2rem 2rem 2rem !important;
                h2 {
                    font-size: 3rem;
                }
                .teammate {
                    display: flex;
                    flex-flow: column;
                    .mate_img {
                        align-self: center;
                    }
                    .mate_info {
                        width: 100%;
                    }
                }

            }
        }
    }
    .about {
        .about_description {
            padding: 6rem 3rem 6rem 3rem !important;
        }
    }
}

@media(max-width: 600px) {
    .responsive-hidden  {
        display: none !important;
    }
    .responsive-shown {
        display: block !important;
    }
    header {
        width: 100%;
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        padding: 1rem 0 .7rem 0;

        .imagotype {
            width: 100%;
            display: flex;
            flex-flow: wrap row;
            justify-content: space-between;
            align-items: center;

            .isotype {
                background-color: $black;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin: 0 0 0 2rem;
            }

            .logotype {
                font-size: 1.7rem;
                font-weight: $extra-bold;
                font-family: $helvetica;
                color: $black;
                padding: 0 0 0 .7rem;
            }
        }

        .menu_icon {
            padding: 0;

            .close {
                position: absolute;
                display: none;
                top: 5%;
                right: 6.5%;
                cursor: pointer;
            }

            .show {
                padding: 0;
                display: unset;
                cursor: pointer;

            }
        }

        .menu {
            width: 100%;
            font-weight: $semi-bold;
            margin: 0;
            padding: 2rem 3rem 0 3rem;
            display: none;


            ul {
                display: flex;
                flex-flow: wrap column;
                align-items: center;
                font-size: 1.5rem;

                li {
                    padding: .8rem 0 0 0;
                }
            }
        }
    }
    .parallax__layer {
        position: absolute;
        top:75px;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .home {
        margin: 0 1.6rem 0 2.5rem;
        padding: 1rem 0 0 0;

        h2 {
            font-size: 1.25rem;
        }

        h1 {
            font-size: 2.5rem;
        }
        .head {
            padding: 0rem 0rem 2rem 0rem;
            display: flex;
            flex-flow: column;
            align-items: center;
            .group_description {
                width: 100%;
            }
        }
        .body {
            .carousel {
                h3 {
                    font-size: 1.5rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }

    }

    .projects {
        main {
            .our_projects {
                padding: 3.5rem 0 0 0;
                .project {
                    flex-flow: column;
                    padding: 2rem 1rem 2rem 2rem;
                    h2 {
                        font-size: 1.6rem;
                    }

                    h3 {
                        font-size: 1.2rem;
                    }
                    .project_logo {
                        width: 40%;
                        padding-bottom: 2rem;
                        align-self: center;
                    }
                    .project_main {
                        width: 100%;
                        display: flex;
                        flex-flow: column;
                        .project_title {
                           padding: 1rem 0rem 1rem 0rem ;
                        }
                    }
                }
            }
        }
    }
    .tools {
        main {
            .our_tools {
                padding: 3.5rem 0 0 0;
                .tool {
                    flex-flow: column;
                    padding: 2rem 1rem 2rem 2rem;
                    .tool_title {
                        h2 {
                            font-size: 1.2rem;
                        }
                    }
                    .tool_logo {
                        width: 40%;
                        padding-bottom: 2rem;
                        align-self: center;
                    }
                    .tool_description {
                        width: 140%;
                        h3 {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    .research {
        h4 {
            font-size: 1.5rem;
        }
        h2 {
            font-size: 1.2rem;
        }
        i {
            font-size: 1.2rem;
        }
        main {
            .research {
                .filters{
                    padding-right: 0rem;
                }
                .paper {
                    flex-flow: column wrap;
                    padding: 2rem 2rem 2rem 2rem;
                    width:100%;

                    .paper_date {
                        width:100%;
                        margin: 0 0 .5rem 0;
                        color: lighten($color: $pink, $amount: 25);
                    }
                    .paper_main {
                        width: 100%;
                        .paper_title {
                            width: 100%;
                            h2 {
                                font-size: 1.2rem;
                            }
                        }
                    }


                }
            }
        }
    }

    .team {
        main {
            .teammates {
                padding-top: 2rem;
                .teamgrouptitle {
                    padding: 1.5rem 1.5rem 1.5rem 1.5rem !important;
                    h2 {
                        margin-left: 20px;
                        font-size: 2rem;
                    }
                }
                .teammate {
                    padding: 3rem 2rem 3rem 2rem;
                    .mate_info {
                        width: 95%;
                    }

                    h2 {
                        font-size: 1.6rem;
                    }
                    h3 {
                        padding: 2rem 0rem 1rem 0rem;
                        font-size: 1.6rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .about {
        main {
            margin-top: 20px;
            .about_description {
                padding: 9rem 2rem 3rem 2rem;

                h1 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 1.2rem;
                }

            }
            h2 {
                padding: 1rem 1rem 1rem 2rem;
            }
            .location {
                flex-flow: column;
                h2 {
                    font-size: 1.6rem;
                    padding: 1rem 1rem 1rem 0rem;
                }
                h3 {
                    font-size: 1.2rem;
                }
            }

            .location {
                padding: 4rem 1rem 3rem 3rem;
            }
        }
    }

    footer {
        padding: 2.5rem 0 2.5rem 0;
        font-size: .9rem;
        width: 100%;
        text-align: center;

        ul {
            justify-content: center;
            display: flex;
            flex-flow: row wrap;

            li {
                margin: 0 1.3rem 0 0;
            }
        }
    }

    .background {

        .circle {
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            background-color: $pink;
            position: absolute;
            top: 35%;
            left: 60%;
        }

        .triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 120.5px 188.9px 98.5px;
            border-color: transparent transparent #FCCD05 transparent;
            position: absolute;
            top: -18%;
            left: -4%;
            transform: rotate(85deg);
        }

        .rectangle {
            width: 20rem;
            height: 6rem;
            background-color: #17E9E0;
            position: absolute;
            top: 140%;
            left: 20%;
            transform: rotate(-40deg);
        }
    }

}
body :not(.menu) a {
    &:hover {
        text-decoration: none;
    }
}
